<div class="page-header">
	<div class="container">
		<div class="breadcrumbs">
			<ul class="list-unstyled">
				<li><a routerLink="/">Home</a></li>
				<li>Explore</li>
			</ul>
		</div> <!-- end .breadcrumbs -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('assets/images/background16.jpg');">
	<div class="inner">
		<h2>Start exploring!</h2>
		<p>Error sit voluptatem accusantium</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box transparent">
				<div class="row">
					<div class="col-md-4">
						<div class="shop-sidebar">
							<div class="sidebar-widget">
								<select class="selectpicker" data-live-search="true">
									<option>Default sorting</option>
									<option>High to Low</option>
								</select>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>Search Products</h5>
								<form class="searchform">
									<input type="text" placeholder="Type here ...">
									<button><i class="pe-7s-search"></i></button>
								</form>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>Product Categories</h5>
								<div class="categories">
									<a href="" class="active">All<i class="pe-7s-right-arrow"></i></a>
									<a href="">Food & Drink<i class="pe-7s-right-arrow"></i></a>
									<a href="">Entertainment<i class="pe-7s-right-arrow"></i></a>
									<a href="">Hotel<i class="pe-7s-right-arrow"></i></a>
									<a href="">Outdoor<i class="pe-7s-right-arrow"></i></a>
									<a href="">Nightlife<i class="pe-7s-right-arrow"></i></a>
									<a href="">Visit<i class="pe-7s-right-arrow"></i></a>
									<a href="">Shop<i class="pe-7s-right-arrow"></i></a>
								</div>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget text-center">
								<h5>Filter By Price</h5>
								<div class="price-slider"><div id="price-slider"></div></div>
								<div class="price-slider-value">Price:<span class="price">$<span id="price-min"></span></span>—<span class="price">$<span id="price-max"></span></span></div>
								<a href="" class="button">Filter</a>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>Feature Products</h5>
								<div class="featured-product clearfix">
									<a href=""><img src="assets/images/featured-product01.jpg" alt="image"></a>
									<div class="content">
										<p class="title"><a href="">Sweet Cupcakes</a></p>
										<p class="price">$9.00</p>
									</div> <!-- end .content -->
								</div> <!-- end .featured-product -->
								<div class="featured-product clearfix">
									<a href=""><img src="assets/images/featured-product02.jpg" alt="image"></a>
									<div class="content">
										<p class="title"><a href="">Perfect Outfits</a></p>
										<p class="price">$79.00</p>
									</div> <!-- end .content -->
								</div> <!-- end .featured-product -->
								<div class="featured-product clearfix">
									<a href=""><img src="assets/images/featured-product03.jpg" alt="image"></a>
									<div class="content">
										<p class="title"><a href="">Perfect Hotel</a></p>
										<p class="price">$390.00</p>
									</div> <!-- end .content -->
								</div> <!-- end .featured-product -->
								<div class="featured-product clearfix">
									<a href=""><img src="assets/images/featured-product04.jpg" alt="image"></a>
									<div class="content">
										<p class="title"><a href="">Helicopter Tour Ticket</a></p>
										<p class="price">$68.00</p>
									</div> <!-- end .content -->
								</div> <!-- end .featured-product -->
							</div> <!-- end .sidebar-widget -->
						</div> <!-- end .shop-sidebar -->
					</div> <!-- end .col-md-4 -->
					<div class="col-md-8">
						<div class="row products">
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product01.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Up to 39% OFF at Central Park Zoo.</a></h3>
										<p><span class="sale">$79.00</span>$39.00</p>
									</div> <!-- end .content -->
									<div class="product-label"><span>Sale</span></div>
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product02.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Combo Burgers</a></h3>
										<p>$68.00</p>
									</div> <!-- end .content -->
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product03.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Knockout Pool</a></h3>
										<p>$68.00</p>
									</div> <!-- end .content -->
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product04.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Helicopter Tour Ticket</a></h3>
										<p><span class="sale">$79.00</span>$39.00</p>
									</div> <!-- end .content -->
									<div class="product-label"><span>Out of Stock</span></div>
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product05.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Pretty Hotel</a></h3>
										<p>$68.00</p>
									</div> <!-- end .content -->
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product06.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Up to 40% Off at Pizza Restaurant.</a></h3>
										<p><span class="sale">$79.00</span>$39.00</p>
									</div> <!-- end .content -->
									<div class="product-label"><span>Sale</span></div>
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product07.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Perfect Fashion Shop</a></h3>
										<p>$390.00</p>
									</div> <!-- end .content -->
									<div class="product-label"><span>New</span></div>
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product08.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Paradise Cafe</a></h3>
										<p>$68.00</p>
									</div> <!-- end .content -->
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product07.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Perfect Fashion Shop</a></h3>
										<p>$390.00</p>
									</div> <!-- end .content -->
									<div class="product-label"><span>New</span></div>
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product08.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Paradise Cafe</a></h3>
										<p>$68.00</p>
									</div> <!-- end .content -->
									<a href="" class="button">Add to Cart</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
						</div> <!-- end .row -->
					</div> <!-- end .col-md-8 -->
				</div> <!-- end .row -->
				<div class="text-center">
					<a href="" id="products-load-more" class="button">Load More</a>
				</div> <!-- end .blog-load-more -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
		</div> <!-- end .section -->