<div class="page-header">
	<div class="container">
		<div class="breadcrumbs">
			<ul class="list-unstyled">
				<li><a routerLink="/">Home</a></li>
				<li>Search Result</li>
			</ul>
		</div> <!-- end .breadcrumbs -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title transparent dark" style="background-image: url('assets/images/locale-background-1.jpg');">
	<div class="inner">
		<h2>Search Results</h2>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box transparent">
				<div class="row">
					<div class="col-md-4">
						<div class="shop-sidebar">
							<div class="sidebar-widget">
								<select class="selectpicker" data-live-search="true">
									<option>Default sorting</option>
									<option>High to Low</option>
								</select>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>Search For Hosts</h5>
								<form class="searchform">
									<input type="text" placeholder="Type here ...">
									<button><i class="pe-7s-search"></i></button>
								</form>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget">
								<h5>Filter By Preferences</h5>
								<div class="categories">
									<a href="" class="active">All<i class="pe-7s-right-arrow"></i></a>
									<a href="">Art<i class="pe-7s-right-arrow"></i></a>
									<a href="">Culture<i class="pe-7s-right-arrow"></i></a>
									<a href="">Shopping<i class="pe-7s-right-arrow"></i></a>
									<a href="">Exploration<i class="pe-7s-right-arrow"></i></a>
									<a href="">Recreation<i class="pe-7s-right-arrow"></i></a>
									<a href="">Nightbars<i class="pe-7s-right-arrow"></i></a>
								</div>
							</div> <!-- end .sidebar-widget -->
							<div class="sidebar-widget text-center">
								<h5>Filter By Price</h5>
								<div class="price-slider"><div id="price-slider"></div></div>
								<div class="price-slider-value">Price:<span class="price">$<span id="price-min"></span></span>—<span class="price">$<span id="price-max"></span></span></div>
								<a href="" class="button">Filter</a>
							</div> <!-- end .sidebar-widget -->
						</div> <!-- end .shop-sidebar -->
					</div> <!-- end .col-md-4 -->
					<div class="col-md-8">
						<div class="row products">
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/host_1.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Shao Quan</a></h3>
										<p>$19.00 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/host_2.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">YiXuan</a></h3>
										<p>$19.30 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/host_3.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Lu Yang</a></h3>
										<p>$19.00 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/host_4.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Xiu Quan</a></h3>
										<p>$20.00 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/product05.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Mun Keat</a></h3>
										<p>$19.00 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
							<div class="col-sm-6">
								<div class="product">
									<img src="assets/images/host_6.jpg" alt="image" class="img-responsive">
									<div class="overlay"></div>
									<div class="content">
										<h3><a href="">Jeremy</a></h3>
										<p>$19.00 / hour</p>
									</div> <!-- end .content -->
									<a routerLink="/hosts" class="button">Details</a>
								</div> <!-- end .product -->
							</div> <!-- end .col-sm-6 -->
						</div> <!-- end .row -->
					</div> <!-- end .col-md-8 -->
				</div> <!-- end .row -->
				<div class="text-center">
					<a href="" id="products-load-more" class="button">Load More</a>
				</div> <!-- end .blog-load-more -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
