<div class="page-title" style="background-image: url('images/background09.jpg');">
	<div class="inner">
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box text-center">
				<div class="error-text">
					<img src="assets/images/404.png" alt="404" class="img-responsive center-block">
					<h3>PAGE NOT FOUND</h3>
					<p>PLEASE TRY ON OF THE FOLLOWING PAGES</p>
					<button type="button" class="button" routerLink="/">HOME PAGE</button>
				</div> <!-- end .error-text -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->