<div class="page-title transparent dark" style="background-image: url('assets/images/locale-background-1.jpg');">
	<div class="inner">
		<h2>Dashboard</h2>
		<p>Aliquam ultrices iaculis auctor.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light text-center">
	<div class="inner">
		<div class="container">
			<div class="box">
				<div class="dashboard">
					<h4>Your Account</h4>
					<div class="avatar-text">You are currently signed in as <div class="avatar"><img src="assets/images/avatar04.jpg" alt="avatar"></div> <span>Angelbi88</span>. (not Anglebi88? <a href="">Log Out</a>)</div>
					<p>From your account dashboard you can manage your <a href="">shipping and billing address</a> and <a href="">edit your password and account details.</a></p>
				</div> <!-- end .dashboard -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
