<div class="page-title transparent dark" style="background-image: url('assets/images/locale-background-1.jpg');">
	<div class="inner">
		<h2>My Trips</h2>
		<p>View your exciting journeys here.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box">
				<div class="row my_list_titles text-center">
					<div class="col-md-2">
						<h4>Date</h4>
						<ul class="date_posted my-listing-fields list-unstyled">
							<li>July 26, 2016</li>
							<li>July 19, 2016</li>
							<li>July 09, 2016</li>
						</ul>
					</div> <!-- end .col-md-4 -->
					<div class="col-md-4">
						<h4>Host</h4>
						<ul class="listing_name my-listing-fields list-unstyled">
							<li><a routerLink="/hosts">Xiu Quan, TAN</a></li>
							<li><a routerLink="/404">Yang, LU</a></li>
							<li><a routerLink="/404">Shao Quan, QIU</a></li>
						</ul>
					</div> <!-- end .col-md-4 -->
					<div class="col-md-3">
						<h4>Status</h4>
						<ul class="listing_expires my-listing-fields list-unstyled">
							<li>Accepted <a routerLink="/dashboard/itineraries">(Confirm)</a></li>
							<li>Request Sent <a routerLink="/404">(Cancel)</a></li>
							<li>Request Sent <a routerLink="/404">(Cancel)</a></li>
						</ul>
					</div> <!-- end .col-md-4 -->
					<div class="col-md-2">
						<h4>Itinerary</h4>
						<ul class="listing_expires my-listing-fields list-unstyled">
							<li><a routerLink="/dashboard/itineraries">Edit Itinerary</a></li>
							<li><a routerLink="/dashboard/itineraries">Edit Itinerary</a></li>
							<li><a routerLink="/dashboard/itineraries">Edit Itinerary</a></li>
						</ul>
					</div> <!-- end .col-md-4 -->
					<div class="col-md-1">
						<h4>-</h4>
						<ul class="listing_expires my-listing-fields list-unstyled">
							<li style="background-color: #ffffff;"><a routerLink="/dashboard/messages"><i style="font-size: 20px;" class="glyphicon glyphicon-envelope
"></i></a></li>
							<li style="background-color: #ffffff;"><a routerLink="/dashboard/messages"><i style="font-size: 20px;" class="glyphicon glyphicon-envelope
"></i></a></li>
							<li style="background-color: #ffffff;"><a routerLink="/dashboard/messages"><i style="font-size: 20px;" class="glyphicon glyphicon-envelope
"></i></a></li>
						</ul>
					</div> <!-- end .col-md-4 -->
				</div> <!-- end .row -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
