<div class="section large transparent text-center" style="background-image: url('assets/images/background10.jpg');">
	<div class="inner">
		<div class="container">
			<div class="coming-soon">
				<div id="countdown" class="countdown">
					<div class="time">
						<span class="days">07</span>
						<span class="timeRefDays">D</span>
					</div> <!-- end time -->
					<div class="time">
						<span class="hours">00</span>
						<span class="timeRefHours">H</span>
					</div> <!-- end time -->
					<div class="time">
						<span class="minutes">00</span>
						<span class="timeRefMinutes">M</span>
					</div> <!-- end time -->
					<div class="time">
						<span class="seconds">00</span>
						<span class="timeRefSeconds">S</span>
					</div> <!-- end time -->
				</div> <!-- end .countdown -->
				<p class="lead">WEBSITE COMING SOON</p>
				<form action="https://johneyboy.us7.list-manage.com/subscribe/post-json?u=3210d74dbf054134a29daf97c&amp;id=50ad235761&amp;c=?" method="get" id="mc-embedded-subscribe-form" class="newsletter-form block">
					<input type="email" id="mce-EMAIL" name="EMAIL" placeholder="Your email here ...">
					<button type="submit" id="mc-embedded-subscribe" name="subscribe" class="button">Subscribe</button>
				</form>
			</div> <!-- end .coming-soon -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->