<div class="page-title" style="background-image: url('assets/images/background08.jpg');">
	<div class="inner">
		<h2>My Wishlists</h2>
		<p>Aliquam ultrices iaculis auctor.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box transparent">
				<div class="row">
					<div class="col-md-4">
						<div class="directory-item">
							<img src="assets/images/directory-slider01.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="rating">4.0</div>
							<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
							<div class="content">
								<h3><a href="">Not Just Coffee</a></h3>
								<p>Suspendisse tristique orci justo</p>
								<div class="location"><img src="assets/images/directory-location.png" alt="location">Thomas St , NewYork</div>
							</div> <!-- end .content -->
							<div class="category">
								<a href=""><img src="assets/images/directory-category-food.png" alt="food"></a>
								<a href=""><img src="assets/images/directory-category-drink.png" alt="drink"></a>
							</div> <!-- end .category -->
						</div> <!-- end .directory-item -->
					</div> <!-- end .col-md-4 -->
					<div class="col-md-4">
						<div class="directory-item">
							<img src="assets/images/directory-slider02.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="rating">4.0</div>
							<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
							<div class="content">
								<h3><a href="">Nunc Restaurant</a></h3>
								<p>Suspendisse tristique orci justo</p>
								<div class="location"><img src="assets/images/directory-location.png" alt="location">Leonard St , NewYork</div>
							</div> <!-- end .content -->
							<div class="category">
								<a href=""><img src="assets/images/directory-category-dining.png" alt="dining"></a>
								<a href=""><img src="assets/images/directory-category-wine.png" alt="wine"></a>
							</div> <!-- end .category -->
						</div> <!-- end .directory-item -->
					</div> <!-- end .col-md-4 -->
					<div class="col-md-4">
						<div class="directory-item">
							<img src="assets/images/directory-slider03.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="rating">4.0</div>
							<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
							<div class="content">
								<h3><a href="">DJ Party</a></h3>
								<p>Suspendisse tristique orci justo</p>
								<div class="location"><img src="assets/images/directory-location.png" alt="location">Knightsbridge 66</div>
							</div> <!-- end .content -->
							<div class="category">
								<a href=""><img src="assets/images/directory-category-party.png" alt="party"></a>
							</div> <!-- end .category -->
						</div> <!-- end .directory-item -->
					</div> <!-- end .col-md-4 -->
				</div> <!-- end .row -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
