<header class="header fixed clearfix">
	<div class="left">
		<div class="logo"><a routerLink="/" routerLinkActive="active"><img src="assets/images/locale-logo-small.png" alt="Locale" class="img-responsive"></a></div> <!-- end .logo -->
		<form class="header-search">
			<input type="text" placeholder="I’m searching for ...">
			<button type="submit"><i class="pe-7s-search"></i></button>
		</form>
	</div> <!-- end .left -->
	<div class="navigation clearfix">
		<nav class="main-nav">
			<ul class="list-unstyled">
				<li class="menu-item-has-children">
					<a routerLink="/stories" routerLinkActive="active">Stories</a>
					<!--<ul>
						<li><a href="how-it-works.html">How It Works</a></li>
						<li><a href="add-listing.html">Add Listing</a></li>
						<li><a href="add-your-listing.html">Add Your Listing</a></li>
						<li><a href="list.html">List</a></li>
						<li><a href="list-detail.html">List Detail</a></li>
						<li class="menu-item-has-children">
							<a href="dashboard.html">Dashboard<i class="pe-7s-right-arrow"></i></a>
							<ul>
								<li><a href="dashboard.html">Dashboard</a></li>
								<li><a href="my-listings.html">My Listings</a></li>
								<li><a href="my-wishlist.html">My Wishlist</a></li>
								<li><a href="edit-profile.html">Edit Profile</a></li>
							</ul>
						</li>
						<li><a href="maintenance.html">Maintenance</a></li>
						<li><a href="coming-soon.html">Coming Soon</a></li>
						<li><a href="404.html">404</a></li>
					</ul>-->
				</li>
				<li class="menu-item-has-children">
					<a routerLink="/explore" routerLinkActive="active">Explore</a>
				<li class="menu-item-has-children">
					<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
					<ul>
						<li><a routerLink="/dashboard">Dashboard</a></li>
						<li><a routerLink="/dashboard/edit-profile">Edit Profile</a></li>
						<li><a routerLink="/dashboard/messages">Inbox</a></li>
						<li><a routerLink="/dashboard/trips">My Trips</a></li>
						<li><a routerLink="/dashboard/listings">My Listings</a></li>
						<li><a routerLink="/dashboard/add-listings">Add Listings</a></li>
						<li><a routerLink="/dashboard/wishlists">My Wishlists</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children">
					<a routerLink="/become-a-guide" routerLinkActive="active">Become a Guide</a>
					<ul>
						<!--<li><a href="list.html">All Listings</a></li>
						<li class="menu-item-has-children">
							<a href="list.html">Food & Drink<i class="pe-7s-right-arrow"></i></a>
							<ul>
								<li><a href="list.html">Cafe’</a></li>
								<li><a href="list.html">Restaurant</a></li>
								<li><a href="list.html">Pizza Place</a></li>
							</ul>
						</li>
						<li><a href="list.html">Entertainment</a></li>
						<li><a href="list.html">Nightlife</a></li>a-->
					</ul>
				</li>
			</ul>
		</nav> <!-- end .main-nav -->
		<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
	</div> <!-- end .navigation -->
	<div class="right">
		<a href="" class="button signup-open border">Sign Up</a>
		<a href="" class="button login-open">Log In</a>
	</div> <!-- end .left -->
</header> <!-- end .header -->

<div class="responsive-menu">
	<a href="" class="responsive-menu-close"><i class="fa fa-times"></i></a>
	<nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->

<router-outlet></router-outlet>

<footer class="footer">
	<div class="top">
		<div class="left">
			<div class="logo"><a href="index.html"><img src="assets/images/locale-logo-xsmall.png" alt="Locale" class="img-responsive"></a></div> <!-- end .logo -->
		</div> <!-- end .left -->
		<div class="right social-icons">
			<a href=""><i class="pe-so-facebook"></i></a>
			<a href=""><i class="pe-so-twitter"></i></a>
			<a href=""><i class="pe-so-vimeo"></i></a>
			<a href=""><i class="pe-so-tripadvisor"></i></a>
			<a href=""><i class="pe-so-instagram"></i></a>
			<a href=""><i class="pe-so-google-plus"></i></a>
		</div>
	</div> <!-- end .top -->
	<div class="bottom">Copyright &copy; 2017. All Rights Reserved By <a href="">Locale</a></div>
</footer> <!-- end .footer -->

<div class="login-wrapper">
	<div class="login">
		<form>
			<div class="form-group">
				<input type="text" placeholder="Username or Email Address *">
			</div> <!-- end .form-group -->
			<div class="form-group">
				<input type="text" placeholder="Password *">
			</div> <!-- end .form-group -->
			<div class="clearfix">
				<div class="checkbox">
					<label>
						<input type="checkbox"> Remember me
					</label>
				</div>
				<a href="" class="lost-password">Forgot password?</a>
			</div> <!-- end .clearfix -->
			<div class="button-wrapper"><button type="submit" class="button">Login</button></div>
			<div class="text-center">
				<p>Don't have an account ? <a href="" class="signup-open">Sign up</a></p>
				<div class="social">
					<p>Login with social media</p>
					<a href=""><img src="assets/images/facebook.png" alt="facebook"></a>
					<a href=""><img src="assets/images/google-plus.png" alt="google plus"></a>
				</div> <!-- end .social -->
			</div>
		</form>
	</div> <!-- end .login -->
</div> <!-- end .login-wrapper -->

<div class="signup-wrapper">
	<div class="signup">
		<form>
			<div class="form-group">
				<input type="email" placeholder="Email Address">
			</div> <!-- end .form-group -->
			<div class="form-group">
				<input type="text" placeholder="First Name">
			</div> <!-- end .form-group -->
			<div class="form-group">
				<input type="text" placeholder="Last Name">
			</div> <!-- end .form-group -->
			<div class="form-group">
				<input type="text" placeholder="Password">
			</div> <!-- end .form-group -->
			<div class="text-center">
				<p>By signing up, I agree to Locale's Terms and Service</p>
			</div> <!-- end .text-center -->
			<div class="button-wrapper"><button type="submit" class="button">Sign Up</button></div>
			<div class="text-center">
				<p>Already have an account? <a href="" class="login-open">Log in</a></p>
				<div class="social">
					<p>Login with social media</p>
					<a href=""><img src="assets/images/facebook.png" alt="facebook"></a>
					<a href=""><img src="assets/images/google-plus.png" alt="google plus"></a>
				</div> <!-- end .social -->
			</div>
		</form>
	</div> <!-- end .signup -->
</div> <!-- end .signup-wrapper -->

<!-- Scripts.js -->
<script src="assets/js/scripts.js"></script>
