<div class="page-header">
	<div class="container">
		<div class="breadcrumbs">
			<ul class="list-unstyled">
				<li><a routerLink="/">Home</a></li>
				<li><a routerLink="/explore">Hosts</a></li>
				<li>Host's Profile</li>
			</ul>
		</div> <!-- end .breadcrumbs -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title transparent dark" style="background-image: url('assets/images/locale-background-1.jpg');">
	<div class="inner">
		<h2>Xiu Quan's Profile</h2>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light shop-details">
	<div class="inner">
		<div class="container">
			<div class="box">
				<div class="row">
					<div class="col-md-6">
						<div class="blog-post gallery product-gallery">
							<div class="blog-gallery">
								<div><img src="assets/images/host_4_full.jpg" alt="image" class="img-responsive"></div>
							</div> <!-- end .blog-gallery -->
						</div> <!-- end .blog-post -->
						<div class="row">
							<div class="product-thumbnails">
								<div class="col-xs-4"><img src="assets/images/host_4_full.jpg" alt="image" class="img-responsive"></div>
								<!-- <div class="col-xs-4"><img src="assets/images/shop-details02.jpg" alt="image" class="img-responsive"></div>
								<div class="col-xs-4"><img src="assets/images/shop-details03.jpg" alt="image" class="img-responsive"></div>-->
							</div> <!-- end .product-thumbnails -->
						</div> <!-- end .row -->
					</div> <!-- end col-md-6 -->
					<div class="col-md-6">
						<div class="price">
							<!--<span class="original-price"><span>$79.00</span></span>-->
							<span class="sale-price">$10.00 / hour</span>
						</div>
						<div class="product-description">
							<p>Enjoying life :)</p>
						</div>
						<!-- <div class="stock">
							<p>39 in stock</p>
						</div> -->
						<div class="product-quantity" style="padding-bottom:25px">
							<!-- <input class="product-quantity light-inputs" type="number" value="1">-->
							<button type="button" class="button">Contact Host</button>
						</div> <!-- end .product-quantity -->
						<!-- <div class="product-info">
							<ul class="list-unstyled">
								<li><span>SKU : </span>6879</li>
								<li><span>Category : </span>Food</li>
								<li><span>Tags : </span>Food, Eat, Pizza, Restaurant</li>
							</ul>
						</div>--> <!-- end .product-info -->

						<ul class="nav nav-tabs product-info-tabs">
							<li class="active"><a data-toggle="tab" href="#description-tab">About Me</a></li>
							<li><a data-toggle="tab" href="#additional-information-tab">Additional Information</a></li>
							<li><a data-toggle="tab" href="#reviews-tab">Review (2)</a></li>
						</ul> <!-- end .product-info-tabs -->
						<div class="tab-content">
							<div id="description-tab" class="tab-pane fade in active">
								<p>Hi, I'm from Singapore, somewhere in the sunny side of Southeast Asia. I know of some great food spots, beautiful beaches and great areas to wander around. Although I am not a tour guide, I can guide you to some great spots and give advice as to what to see on your own. I do enjoy meeting travelers and making new friends (:</p>
							</div> <!-- end #description-tab -->

							<div id="additional-information-tab" class="tab-pane fade">
								<form class="light-inputs">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Language(s): </span>
											<input type="text" placeholder="English, Mandarin">
										</div> <!-- end .input-group -->
									</div> <!-- end .form-group -->
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Interest: </span>
											<input type="text" placeholder="All">
										</div> <!-- end .input-group -->
									</div> <!-- end .form-group -->
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Accommodation: </span>
											<input type="text" placeholder="No">
										</div> <!-- end .input-group -->
									</div> <!-- end .form-group -->
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon">Transportation: </span>
											<input type="text" placeholder="Yes">
										</div> <!-- end .input-group -->
									</div> <!-- end .form-group -->
								</form> <!-- end .light-inputs -->
							</div> <!-- end #additional-info-tab -->

							<div id="reviews-tab" class="tab-pane fade">
								<div class="review clearfix">
									<div class="avatar"><img src="assets/images/avatar01.jpg" alt="avatar"></div>
									<ul class="meta list-unstyled">
										<li class="name">Chen Long</li>
										<li class="rating"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"></li>
									</ul> <!-- end .meta -->
									<div class="content">
										<p>Was great meeting you, Xiu Quan!</p>
									</div> <!-- end .content -->
								</div> <!-- end .review -->
								<div class="review review-tab clearfix">
									<div class="avatar"><img src="assets/images/avatar02.jpg" alt="avatar"></div>
									<ul class="meta list-unstyled">
										<li class="name">Mei Lee</li>
										<li class="rating"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"><img src="assets/images/star.png" alt="star"></li>
									</ul> <!-- end .meta -->
									<div class="content">
										<p>Enjoyed my trip with Xiu Quan hosting!</p>
									</div> <!-- end .content -->
								</div> <!-- end .review -->

								<div class="add-review">
									<h4>Rate and write a review.</h4>
									<form>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group light-inputs">
													<input type="text" placeholder="Your Name*" required>
												</div> <!-- end .form-group -->
											</div> <!-- end .col-sm-6 -->
										</div> <!-- end .row -->
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group light-inputs">
													<input type="email" placeholder="Your@email.com*" required>
												</div> <!-- end .form-group -->
											</div> <!-- end .col-sm-6 -->
										</div> <!-- end .row -->
										<div class="form-group light-inputs">
											<textarea rows="3" placeholder="Your reviews here ..." required></textarea>
										</div> <!-- end .form-group -->
										<div class="clearfix">
											<fieldset class="rating">
												<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
												<input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
												<input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
												<input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
												<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
												<input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
												<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
												<input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
												<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
												<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
											</fieldset>
										</div> <!-- end .clearfix -->
										<button type="submit" class="button">Submit your reviews</button>
									</form>
								</div> <!-- end .add-review -->
							</div> <!-- end #reviews-tab -->
						</div> <!-- end .tab-content -->
					</div> <!-- end col-md-6 -->
				</div> <!-- end .row -->
				<div class="related-products">
					<h3 class="text-center">Other Host(s)</h3>
					<div class="related-products-slider">
						<div class="related-item">
							<img src="assets/images/host_2.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="content">
								<h3><a href="">YiXuan</a></h3>
								<p>$9.30 / hour</p>
							</div> <!-- end .content -->
						</div> <!-- end .related-item -->

						<div class="related-item">
							<img src="assets/images/host_1.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="content">
								<h3><a href="">Shao Quan</a></h3>
								<p>$9.00 / hour</p>
							</div> <!-- end .content -->
						</div> <!-- end .related-item -->

						<div class="related-item">
							<img src="assets/images/host_3.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="content">
								<h3><a href="">Lu Yang</a></h3>
								<p>$9.00 / hour</p>
							</div> <!-- end .content -->
						</div> <!-- end .related-item -->
						<div class="related-item">
							<img src="assets/images/host_6.jpg" alt="bg" class="img-responsive">
							<div class="overlay"></div>
							<div class="content">
								<h3><a href="">Jeremy</a></h3>
								<p>$19.00 / hour</p>
							</div> <!-- end .content -->
						</div> <!-- end .related-item -->
					</div> <!-- end .realted-products-slider -->
				</div> <!-- end .related-products -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
