<div class="fullscreen-section">
	<div class="left">
		<div id="map" class="map"></div>
	</div> <!-- end .left -->
	<div class="right">
		<div class="inner">
			<div class="directory-filters">
				<form>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<select class="selectpicker" data-live-search="true">
									<option>All Countries</option>
									<option>USA</option>
									<option>Australia</option>
									<option>Cayman Islands</option>
									<option>Spain</option>
									<option>France</option>
									<option>India</option>
								</select>
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<div class="form-group">
								<select class="selectpicker" data-live-search="true">
									<option>All Categories</option>
									<option>Food</option>
									<option>Lodging</option>
									<option>Culture</option>
									<option>Shopping</option>
									<option>Nightlife</option>
									<option>Drink</option>
								</select>
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<div class="form-group">
								<select class="selectpicker" data-live-search="true">
									<option>Filter by tags</option>
									<option>Pets friendly</option>
									<option>Chinese Cuisine</option>
									<option>Indian food</option>
									<option>Hip Hop</option>
									<option>Open Bar</option>
								</select>
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
				</form>
			</div> <!-- end .directory-filters -->
			<div class="directory-tags">
				<div class="tag">Accepts Credit Cards<a href=""><i class="pe-7s-close"></i></a></div>
				<div class="tag">Parking Street<a href=""><i class="pe-7s-close"></i></a></div>
				<div class="tag">Wireless Internet<a href=""><i class="pe-7s-close"></i></a></div>
			</div> <!-- end .directory-tags -->
			<div class="directory-list-info">
				<p>Showing all Listings tagged "Accepts Credit Cards", "Parking Street", "Wireless Internet".</p>
				<p class="results">79 Results - <a href="">Reset</a></p>
			</div>
			<div class="directory-list row">
				<div class="col-sm-6">
					<div class="directory-item">
						<img src="assets/images/tokyo_1.jpg" alt="bg" class="img-responsive">
						<div class="overlay"></div>
						<div class="rating">4.0</div>
						<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
						<div class="content">
							<h3><a href="">Meiji Shrine</a></h3>
							<p></p>
							<div class="location">Tokyo, Japan<img src="assets/images/directory-location.png" alt="location"></div>
						</div> <!-- end .content -->
						<div class="category">
							<a href=""><img src="assets/images/directory-category-food.png" alt="food"></a>
							<a href=""><img src="assets/images/directory-category-drink.png" alt="drink"></a>
						</div> <!-- end .category -->
					</div> <!-- end .directory-item -->
				</div> <!-- end .col-sm-6 -->
				<div class="col-sm-6">
					<div class="directory-item">
						<img src="assets/images/tokyo_2.jpg" alt="bg" class="img-responsive">
						<div class="overlay"></div>
						<div class="rating">4.0</div>
						<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
						<div class="content">
							<h3><a href="">Tokyo Ramen Museum</a></h3>
							<p></p>
							<div class="location"> <img src="assets/images/directory-location.png" alt="location">Tokyo, Japan</div>
						</div> <!-- end .content -->
						<div class="category">
							<a href=""><img src="assets/images/directory-category-dining.png" alt="dining"></a>
							<a href=""><img src="assets/images/directory-category-wine.png" alt="wine"></a>
						</div> <!-- end .category -->
					</div> <!-- end .directory-item -->
				</div> <!-- end .col-sm-6 -->
				<div class="col-sm-6">
					<div class="directory-item">
						<img src="assets/images/tokyo_3.jpg" alt="bg" class="img-responsive">
						<div class="overlay"></div>
						<div class="rating">4.0</div>
						<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
						<div class="content">
							<h3><a href="">Ueno Shrine</a></h3>
							<p></p>
							<div class="location"> <img src="assets/images/directory-location.png" alt="location">Tokyo, Japan</div>
						</div> <!-- end .content -->
						<div class="category">
							<a href=""><img src="assets/images/directory-category-party.png" alt="party"></a>
						</div> <!-- end .category -->
					</div> <!-- end .directory-item -->
				</div> <!-- end .col-sm-6 -->
				<div class="col-sm-6">
					<div class="directory-item">
						<img src="assets/images/tokyo_4.jpg" alt="bg" class="img-responsive">
						<div class="overlay"></div>
						<div class="rating">4.0</div>
						<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
						<div class="content">
							<h3><a href="">Tokyo Imperial Palace</a></h3>
							<p></p>
							<div class="location"> <img src="assets/images/directory-location.png" alt="location">Tokyo, Japan</div>
						</div> <!-- end .content -->
						<div class="category">
							<a href=""><img src="assets/images/directory-category-hotel.png" alt="hotel"></a>
						</div> <!-- end .category -->
					</div> <!-- end .directory-item -->
				</div> <!-- end .col-sm-6 -->
			</div> <!-- end .directory-list -->
		</div> <!-- end .inner -->
	</div> <!-- end .right -->
</div> <!-- end .section -->
