<div class="page-title" style="background-image: url('assets/images/background06.jpg');">
	<div class="inner">
		<h2>Edit Profile</h2>
		<p>Aliquam ultrices iaculis auctor.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light text-center">
	<div class="inner">
		<div class="container">
			<div class="box">
				<form class="edit-profile-form light-inputs">
					<h4>Account Details</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">First Name * :</span>
									<input type="text" placeholder="e.g Bi">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Last Name * :</span>
									<input type="text" placeholder="e.g Angel">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
					</div> <!-- end .row -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Email Address * :</span>
							<input type="email" placeholder="e.g yourcompany@gmail.com">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Current Password (leave blank to leave unchanged) :</span>
							<input type="password" placeholder="e.g P@ssword*#!">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Confirm New Password :</span>
							<input type="password" placeholder="e.g P@ssword*#!">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="submit"><button type="submit" class="button">Save Changes</button></div>
				</form>
				<hr>
				<form class="edit-profile-form light-inputs">
					<h4>Social Login Accounts<small>Your account is connected to the following social login providers. <a href="">Add more...</a></small></h4>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Facebook username (optional) :</span>
							<input type="text" placeholder="angelbi">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Twitter username (optional) :</span>
							<input type="text" placeholder="angelbi">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Googleplus username (optional) :</span>
							<input type="text" placeholder="e.g yournamecompany">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
				</form>
				<hr>
				<form class="edit-profile-form light-inputs">
					<h4>Billing Address</h4>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">First Name * :</span>
									<input type="text" placeholder="e.g Bi">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Last Name * :</span>
									<input type="text" placeholder="e.g Angel">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Email Address * :</span>
									<input type="email" placeholder="e.g yourcompany@gmail.com">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
						<div class="col-sm-6">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Phone Number * :</span>
									<input type="tel" placeholder="e.g +84 0939793979">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-6 -->
					</div> <!-- end .row -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Company Name (optional) :</span>
							<input type="text" placeholder="e.g Your name company">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">Address * :</span>
							<input type="text" placeholder="e.g Street Address , Apartment , suite ,unit etc.">
						</div> <!-- end .input-group -->
					</div> <!-- end .form-group -->
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Town / City * :</span>
									<input type="text" placeholder="e.g NewYork">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Country * :</span>
									<input type="text" placeholder="e.g USA">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
						<div class="col-sm-4">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">Postcode * :</span>
									<input type="email" placeholder="e.g 10001">
								</div> <!-- end .input-group -->
							</div> <!-- end .form-group -->
						</div> <!-- end .col-sm-4 -->
					</div> <!-- end .row -->
					<div class="submit"><button type="submit" class="button">Save Changes</button></div>
				</form>
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->