<div class="page-header">
	<div class="container">
		<nav class="menu">
			<ul class="list-unstyled">
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/dashboard" >Dashboard</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/edit-profile">Edit Profile</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/messages" >Inbox</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/trips">My Trips</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/listings">My Listings</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/add-listings">Add Listings</a></li>
				<li routerLinkActive="active"><a routerLink="/dashboard/wishlists">My Wishlists</a></li>
			</ul>
		</nav> <!-- end .menu -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<router-outlet></router-outlet>