<div class="page-header">
	<div class="container">
		<nav class="menu">
			<ul class="list-unstyled">
			<li class="active"><a href="/dashboard" routerLinkActive="active">Dashboard</a></li>
				<li><a href="/dashboard/edit-profile" routerLinkActive="active">Edit Profile</a></li>
				<li><a href="/dashboard/listings" routerLinkActive="active">My Listings</a></li>
				<li><a href="/dashboard/add-listings" routerLinkActive="active">Add Listings</a></li>
				<li><a href="/dashboard/wishlists" routerLinkActive="active">My Wishlists</a></li>
			</ul>
		</nav> <!-- end .menu -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<router-outlet></router-outlet>