<div class="page-header">
	<div class="container">
		<nav class="menu">
			<ul class="list-unstyled">
				<li class="active"><a href="dashboard.html">Dashboard</a></li>
				<li><a href="edit-profile.html">Edit Profile</a></li>
				<li><a href="my-listings.html">My Listings</a></li>
				<li><a href="add-your-listing.html">Add Listings</a></li>
				<li><a href="my-wishlist.html">My Wishlists</a></li>
			</ul>
		</nav> <!-- end .menu -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('assets/images/background05.jpg');">
	<div class="inner">
		<h2>Dashboard</h2>
		<p>Aliquam ultrices iaculis auctor.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light text-center">
	<div class="inner">
		<div class="container">
			<div class="box">
				<div class="dashboard">
					<h4>Your Account</h4>
					<div class="avatar-text">You are currently signed in as <div class="avatar"><img src="assets/images/avatar04.jpg" alt="avatar"></div> <span>Angelbi88</span>. (not Anglebi88? <a href="">Log Out</a>)</div>
					<p>From your account dashboard you can manage your <a href="">shipping and billing address</a> and <a href="">edit your password and account details.</a></p>
				</div> <!-- end .dashboard -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->