<div class="page-header">
	<div class="container">
		<div class="breadcrumbs">
			<ul class="list-unstyled">
			<li><a routerLink="/">Home</a></li>
				<li>How It Works</li>
			</ul>
		</div> <!-- end .breadcrumbs -->
	</div> <!-- end .container -->
</div> <!-- end .page-header -->

<div class="page-title" style="background-image: url('images/background02.jpg');">
	<div class="inner">
		<h2>How It Works</h2>
		<p>Discover how EXploreCity can you help you find everything you want.</p>
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="section boxed-section light">
	<div class="inner">
		<div class="container">
			<div class="box no-side-padding">
				<div class="row">
					<div class="col-sm-4">
						<div class="services">
							<img src="assets/images/services-icon01.png" alt="icon" class="img-responsive center-block">
							<h3>Choose<br>What To Do</h3>
							<p>Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping?</p>
							<div class="process"><i class="pe-7s-angle-right-circle"></i></div>
						</div> <!-- end .services -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<div class="services">
							<img src="assets/images/services-icon02.png" alt="icon" class="img-responsive center-block">
							<h3>Find<br>What You Want</h3>
							<p>Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot.</p>
							<div class="process"><i class="pe-7s-angle-right-circle"></i></div>
						</div> <!-- end .services -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<div class="services">
							<img src="assets/images/services-icon03.png" alt="icon" class="img-responsive center-block">
							<h3>Explore<br>Amazing Places</h3>
							<p>Go and have a good time or even make a booking directly from the listing page. All of those, thanks to ExploreCity!</p>
						</div> <!-- end .services -->
					</div> <!-- end .col-sm-4 -->
				</div> <!-- end .row -->
			</div> <!-- end .box -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->			