<div class="section large transparent dark text-center" style="background-image: url('assets/images/locale-background-1.jpg');">
	<div class="inner">
		<div class="container">
			<h1>Where's Your Next Adventure?</h1>
			<p class="lead">Collaborate with local guides to plan your next trip.</p>
			<form>
				<div class="row">
					<div class="col-sm-4">
						<div class="form-group">
							<input type="text" placeholder="Location">
							<i class="pe-7s-world"></i>
						</div> <!-- end .form-group -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-2">
						<div class="form-group">
							<input type="text" placeholder="Start Date">
						</div> <!-- end .form-group -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-2">
						<div class="form-group">
							<input type="text" placeholder="End Date">
						</div> <!-- end .form-group -->
					</div> <!-- end .col-sm-4 -->
					<div class="col-sm-4">
						<div class="form-group">
							<input type="text" placeholder="Number of Guest(s)">
						</div> <!-- end .form-group -->
					</div> <!-- end .col-sm-4 -->
				</div> <!-- end .row -->
				<button type="submit" class="button" routerLink="/explore">Search places</button>
			</form>
			<div class="highlight-slider-wrapper">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<p class="lead">Or select guides by categories</p>
						<div class="highlight-slider">
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-food.png" alt="food">
									<div class="overlay">Food</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-arts.png" alt="lodging">
									<div class="overlay">Art</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-culture.png" alt="culture">
									<div class="overlay">Culture</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-shopping.png" alt="shopping">
									<div class="overlay">Shopping</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-exploration.png" alt="nightlife">
									<div class="overlay">Exploration</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-sports.png" alt="shopping">
									<div class="overlay">Recreation</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
							<div class="item">
								<a href="" class="icon">
									<img src="assets/images/category-small-nightlife.png" alt="shopping">
									<div class="overlay">Nightbars</div>
								</a> <!-- end .icon -->
							</div> <!-- end .item -->
						</div> <!-- end .highlight-slider -->
					</div> <!-- end .col-md-8 -->
				</div> <!-- end .row -->
			</div> <!-- end .highlight-slider-wrapper -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->

<div class="section light">
	<div class="inner">
		<div class="container-fluid">
			<h2 class="text-center">Explore Recent Adventures<small>Discover reviews and recommendations of recent trips from like-minded travellers</small></h2>
			<div class="directory-slider">
				<div class="directory-item">
					<img src="assets/images/directory-slider01.jpg" alt="bg" class="img-responsive">
					<div class="overlay"></div>
					<div class="rating">4.0</div>
					<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
					<div class="content">
						<h3><a href="">Not Just Coffee</a></h3>
						<p>Suspendisse tristique orci justo</p>
						<div class="location"><img src="assets/images/directory-location.png" alt="location">Thomas St , NewYork</div>
					</div> <!-- end .content -->
					<div class="category">
						<a href=""><img src="assets/images/directory-category-food.png" alt="food"></a>
						<a href=""><img src="assets/images/directory-category-drink.png" alt="drink"></a>
					</div> <!-- end .category -->
				</div> <!-- end .directory-item -->
				<div class="directory-item">
					<img src="assets/images/directory-slider02.jpg" alt="bg" class="img-responsive">
					<div class="overlay"></div>
					<div class="rating">4.0</div>
					<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
					<div class="content">
						<h3><a href="">Nunc Restaurant</a></h3>
						<p>Suspendisse tristique orci justo</p>
						<div class="location"><img src="assets/images/directory-location.png" alt="location">Leonard St , NewYork</div>
					</div> <!-- end .content -->
					<div class="category">
						<a href=""><img src="assets/images/directory-category-dining.png" alt="dining"></a>
						<a href=""><img src="assets/images/directory-category-wine.png" alt="wine"></a>
					</div> <!-- end .category -->
				</div> <!-- end .directory-item -->
				<div class="directory-item">
					<img src="assets/images/directory-slider03.jpg" alt="bg" class="img-responsive">
					<div class="overlay"></div>
					<div class="rating">4.0</div>
					<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
					<div class="content">
						<h3><a href="">DJ Party</a></h3>
						<p>Suspendisse tristique orci justo</p>
						<div class="location"><img src="assets/images/directory-location.png" alt="location">Knightsbridge 66</div>
					</div> <!-- end .content -->
					<div class="category">
						<a href=""><img src="assets/images/directory-category-party.png" alt="party"></a>
					</div> <!-- end .category -->
				</div> <!-- end .directory-item -->
				<div class="directory-item">
					<img src="assets/images/directory-slider04.jpg" alt="bg" class="img-responsive">
					<div class="overlay"></div>
					<div class="rating">4.0</div>
					<a href="" class="wishlist"><img src="assets/images/directory-heart.png" alt="wishlist"></a>
					<div class="content">
						<h3><a href="">Quisque Tinibus Hotel</a></h3>
						<p>Suspendisse tristique orci justo</p>
						<div class="location"><img src="assets/images/directory-location.png" alt="location">Knightsbridge 66</div>
					</div> <!-- end .content -->
					<div class="category">
						<a href=""><img src="assets/images/directory-category-hotel.png" alt="hotel"></a>
					</div> <!-- end .category -->
				</div> <!-- end .directory-item -->
			</div> <!-- end .directory-slider -->
			<div class="text-center" style="padding-top: 50px;">
				<a routerLink="/stories" class="button">View Stories</a>
			</div> <!-- end .text-center -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->

<div class="section light transparent" style="background-image: url('assets/images/locale-background-2a.jpg');">
	<div class="inner">
		<div class="container">
			<h2 class="text-center">How Locale Works<small>Discover how Locale can help you plan your next amazing trip.</small></h2>
			<div class="row">
				<div class="col-sm-4">
					<div class="services">
						<img src="assets/images/services-icon01.png" alt="icon" class="img-responsive center-block">
						<h3>Choose<br>Places To Go</h3>
						<p>Discover hidden gems through Stories, or from local tour guides.</p>
						<div class="process"><i class="pe-7s-angle-right-circle"></i></div>
					</div> <!-- end .services -->
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<div class="services">
						<img src="assets/images/services-icon02.png" alt="icon" class="img-responsive center-block">
						<h3>Plan<br>Your Trip</h3>
						<p>Collaborate with local guides to plan your next trip, using Locale’s user-friendly platform.</p>
						<div class="process"><i class="pe-7s-angle-right-circle"></i></div>
					</div> <!-- end .services -->
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<div class="services">
						<img src="assets/images/services-icon03.png" alt="icon" class="img-responsive center-block">
						<h3>Explore<br>Amazing Places</h3>
						<p>Have a good time exploring amazing places with local guides! Review your trips to earn rewards for your next trip!</p>
					</div> <!-- end .services -->
				</div> <!-- end .col-sm-4 -->
			</div> <!-- end .row -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->

<div class="section light">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-md-offset-2">

					<b>Locale</b>
					<ul class="list-unstyled" style="">
						<li>About</li>
						<li>Careers</li>
						<li>Press</li>
						<li>Policies</li>
						<li>About</li>
					</ul>
				</div>
				<div class="col-sm-3">
					<b>Discover</b>
					<ul class="list-unstyled">
						<li>Trust &amp; Safety</li>
						<li>Travel Credit</li>
						<li>Gift Cards</li>
						<li>Airbnb Citizen</li>
						<li>Business Travel</li>
						<li>Guidebooks</li>
					</ul>
				</div>

				<div class="col-sm-3">
					<b>Hosting</b>
					<ul class="list-unstyled">
						<li>Why Host</li>
						<li>Hospitality</li>
						<li>Responsible Hosting</li>
					</ul>
				</div>
			</div>
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .section -->
